<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!-- navigation bar -->

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
     
      <hr>

    <button type="button" class="btn btn-primary" id = "data_table" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
      </button>
      
      <!-- Modal -->

      
        
        <div class="modal fade " id="exampleModal" tabindex="100" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-dialog modal-lg">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                  <table class="table">

                  <thead>
                    <tr>
                        <th scope="col" name = "id" >#</th>
                        <th scope="col" name = "name">Name</th>
                        <th scope="col" name = "user_name">User</th>
                        <th scope="col" name = "email">Email</th>
                        <th scope="col" name = "password">Password</th>
                        <th scope="col" name = "action">Action</th>
                    </tr>
                    </thead>
                  </table>
                    <% if(rows.length >0) { %>

                        <%rows.map((eachData)=>{ %>

                    <table class="table">
                         
                       
                       
                        <tbody>
                            
                   

                        <tr>
                            <th scope="row"><%=eachData.id%></th>
                            
                            <td><%=eachData.name%></td>
                            <td><%=eachData.user_name%></td>
                            
                            <td><%=eachData.email%></td>
                            <td><%=eachData.password%></td>
                            <td><button class="btn btn-danger id_delete" data-id = "<%=eachData.id%>">Delete</button></td>
                            <td><button class="btn btn-success edit_btn" data-id = "<%=eachData.id%>" data-bs-toggle="modal" data-bs-target="#editmodal">Edit</button></td>
                            <td><button class="btn btn-success transaction_btn" data-id = "<%=eachData.id%>" data-bs-toggle="modal" data-bs-target="#transactionmodal">Transaction Detail</button></td>
                        </tr>
                        
                        
                        </tbody>
                    </table>

                    <%})%>

                    <% }else{%>
            
                        <div class="col-md-12">
                            <h1 class="h2 text-center">No data found</h1>
                        </div>
            
            
                        <%}%>

                        

                        




                
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
            </div>
        </div>

        <form id = "update_btn">

       

        <div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="modal-body">
                  <div class="row">
                    <input type = "hidden" id = "id_edit">
        
                    <div class="col-md-12">
                      <div class="error-message-update">
        
                      </div>
                    </div>
                    <div class="col-md-6">
                      
                      <label for="">Name</label>
                      <input type="text" id ="edit_name"  class="form-control" name = "name">
                    </div>
                      <input type="hidden" id ="edit_id"  class="form-control" name = "id" >
                    <div class="col-md-6">
                      <label for="">User Name</label>
                      <input type="text" id ="edit_username" class="form-control" name = "username">
                    </div>
                    <div class="col-md-6">
                      <label for="">Email</label>
                      <input type="text" id ="edit_email" class="form-control" name = "email">
                    </div>
                    <div class="col-md-6">
                      <label for="">Password</label>
                      <input type="text" id ="edit_password" class="form-control" name = "password">
                    </div>
                   
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </form>


        <form id = "transaction_btn">

       

        <div class="modal fade" id="transactionmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="modal-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Transaction Date</th>
                        <th scope="col">Transaction type</th>
                        <th scope="col">Comment</th>
                      </tr>
                    </thead>
                    <tbody class = "transaction_data">
                      
                     
                    </tbody>
                  </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>

      </form>



       


      

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>





  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
      
  <script>

    $(document).ready(function(){
        // $("#data_table").click(function(e){
        //     e.preventDefault();


        //     var ajaxData = $(this).serialize();

        //     $.ajax({
        //         type: "get",
        //         url: "/data",
           
        //         success: function (response) {

        //             if(response.status == 201){
        //                 console.log("Successfull");
        //             }
                    
        //         },
        //         error: function (status, err) {
        //     console.log(err);
        //   }
        //     });
        // })

        $(".id_delete").click(function(e){
          e.preventDefault();

           var iddel = $(this).data("id");

          $.ajax({
            type: "post",
            url: "/delete_practice",
            data: {id: iddel},
            success: function (response) {

              if(response.status == 200){
                setTimeout(()=>{
                  window.location.replace(response.url);
                },200)
              }

              
            }
          });
        })

        $(".edit_btn").click(function(e){
          e.preventDefault();

          var idedit = $(this).data("id");

          $.ajax({
            type: "get",
            url: "/edit_practice",
            data: {id: idedit},
            success: function (response) {
              if(response.status == 200){
                var data = response.data[0];  
                console.log(data);
                $('#edit_id').val(data.id);
                $('#edit_name').val(data.name);
                $('#edit_username').val(data.user_name);
                $('#edit_email').val(data.email);
                $('#edit_password').val(data.password);
                
              }
              
            }
          });
        })
      
        $("#update_btn").submit(function(e){
          e.preventDefault();

          var updateedit = $(this).serialize();

          $.ajax({
            type: "post",
            url: "/update_practice",
            data: updateedit,
            success: function (response) {

              if(response.status == 200){
                setTimeout(()=>{
                  window.location.replace(response.url);
                },200)
                $("message").html(`<div class = "alert alert-danger" role = "alert">Data Inserted Successfully.!</div>`);
                console.log("Successfully updated");
              }else{
                console.log(err);
              }
              
            }
          });


        })


        $(".transaction_btn").click(function(e){
          

          var transactionid = $(this).data("id");
          

          $.ajax({
            type: "get",
            url: "/practice_credit",
            data: {id :transactionid },
            success: function (response) {
              console.log(response);
              // var value = response.data;
              // console.log(value);
              $.each(response.data, function (key, value) {
              $(".transaction_data").append(`<tr>`
                +`<th scope = "row">`+ value['id']+`</th>`
                +`<td>`+value['amount']+`</td>`
                +`<td>`+value['transaction_date']+`</td>`
                +`<td>`+value['transaction_type']+`</td>`
                +`<td>`+value['comment']+`</td>`
              )
            })
            }
          });
        })






    })
  </script>

   
    
</body>
</html>